@font-face {
	font-family: "AkzidenzGrotesk";
	src: url("/static/fonts/AkzidenzGrotesk-Regular.otf");
}

@font-face {
	font-family: "AkzidenzGrotesk-Light";
	src: url("/static/fonts/AkzidenzGrotesk-Light.otf");
}

@font-face {
	font-family: "AkzidenzGrotesk-Medium";
	src: url("/static/fonts/AkzidenzGrotesk-Medium.otf");
}

@font-face {
	font-family: "FranklinGothicRoman";
	src: url("/static/fonts/FranklinGothicRoman.ttf");
}

html {
   
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
}

h2 {
    margin: 12px 0 4px 0;
} 

p {
    margin: 2px 0;
}

body {
	font-family: "AkzidenzGrotesk", helvetica, arial, sans-serif;
	font-size: 62.5%;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

#main-container {
    width: [% site.page_width %];
    margin: 0 auto;
}

/*
 * Section colors
 * */
.fiction-color, .fiction-color a, .fiction .category-title { 
	color: #ee7724; 
}

.documentary-color, .documentary-color a, .documentary .category-title { 
	color: #00953b; 
}
.animation-color, .animation-color a, .animation .category-title {
	color: #cb3726;
}
.formats-color, .formats-color a, .formats .category-title {
	color: #0078ca; 
}
.videogames-color, .videogames-color a, .videogames .category-title {
	color: #6d207c; 
}

div.category .upcoming p,
div.category .upcoming a {
    color: #fff;
}

div.page.upcoming p.subcategory,
div.page.upcoming p.extra-info {
    border-bottom: 1px dashed #fff;
}

/*
 * Page style
 * */
div.page {
    width: [% site.page_width %];
    height: [% site.page_height %];
    page-break-after: always;
    background: url('/static/images/bg-page2.jpg') repeat-y 0 0;
}

div.page a.link-production {
    float: right;
    clear: right;
    width: 450px;
    text-align: right;
    font-family: "AkzidenzGrotesk-Light";
    font-size: 18px;
    text-decoration: none;
    margin-top: 6px;
}

div.page .container-details {
    min-height: 340px;
    width: 468px;
}

div.inner-content {
	width: 96%;
	margin: 0 auto;
	padding: 10px 0;
    position: relative;
    height: 680px;
}

div.category p {
	color: #000;
}

/*
 * Introduction
 * */
div.introduction {
    text-align: center;	
    background: url('/static/images/bg-introduction.jpg') no-repeat 0 0;
}

	div.introduction p.categories {
		font-size: 30px;
	}
	
	div.introduction .credits {
		font-size: 16px;
		margin-top: 60px;
		font-weight: bold;
	}
	
		div.introduction .credits span {
			color: #b2270a;
		}

/*
 * Index
 * */
div.index {
    
}

    div.index .left {
        width: 470px;
        float: left;
        text-align: center;
        margin-bottom: 20px;
    }

        div.index .left img {
            margin-top: 294px;
        }

        div.index .left p {
            font-size: 22px;
            margin-left: 10px;
        }

    div.index .right {
        width: 512px;
        float: left;
        padding-left: 35px;
        margin-bottom: 40px;
        margin-top: 40px;
    }
	
		div.index .right h2 {
			font-size: 28px;
            font-weight: 400;
		}
		
		div.index .right p {
			font-size: 18px;
            font-family: "AkzidenzGrotesk-Light";
		}

        div.index .right p a {
            color: #333;
        }

    div.index .bottom {
        margin: 0 auto;
        width: 96%;
        clear: both;
        padding-top: 5px;
        border-top: 1px dashed #000;
    }
	
		div.index .bottom  p {
			font-size: 15px;
		}

/*
 * Upcomings by Section
 * */

#fiction div.upcoming {
    background: url('/static/images/bg-fiction.jpg') repeat-y 0 0; 
}

#documentary div.upcoming {
    background: url('/static/images/bg-documentary.jpg') repeat-y 0 0; 
}

#animation div.upcoming {
    background: url('/static/images/bg-animation.jpg') repeat-y 0 0; 
}

#formats div.upcoming {
    background: url('/static/images/bg-formats.jpg') repeat-y 0 0; 
}

#videogames div.upcoming {
    background: url('/static/images/bg-videogames.jpg') repeat-y 0 0; 
}

/* 
 * Page
 * */

div.page p.category-title {
	font-size: 28px;
    margin-bottom: 0;
    padding-bottom: 0;
}

div.page p.subcategory {
	border-bottom: 1px dashed #000;
    padding-top: 0;
    margin-top: 0;
	padding-bottom: 4px;
	margin-bottom: 8px;
    width: 100%;
    overflow: hidden;
}

    div.page p.subcategory span.format {
        font-size: 18px;
        float: left;
        margin-top: 6px;
        font-family: "AkzidenzGrotesk-Light";
    }

    div.page p.subcategory span {
        float: right;
    }

    div.page p.subcategory span.upcoming-label,
    div.page p.subcategory span.sep {
        font-size: 25px;
    }

    div.page p.subcategory span.sep {
        margin-left: 5px;
        margin-right: 5px;
    }

    div.page p.subcategory span.catalanspoke-label {
        font-size: 33px;
        font-family: "FranklinGothicRoman";
    }

div.page p.title {
	font-size: 33px;
	margin-top: 5px;
    font-family: "AkzidenzGrotesk-Medium";
}

div.page p.title-original {
	font-size: 28px;
    font-family: "AkzidenzGrotesk-Light";
    margin-top: 0;
}

div.page p.director {
	font-size: 23px;
    font-family: "AkzidenzGrotesk-Light";
    margin-bottom: 11px;
}

div.category img {
	margin-top: 5px;
	float: right;
    margin-left: 5px;
}

div.page p.details span.name {
	font-size: 25px;
}

div.page p.details span.value {
	font-size: 18px;
    font-family: "AkzidenzGrotesk-Light";
}

div.page p.sinopsis {
	font-size: 18px;
    font-family: "AkzidenzGrotesk-Light";
}

div.page p.extra-info {
    font-family: "AkzidenzGrotesk-Light";
    font-size: 23px;
    padding-bottom: 8px;
    border-bottom: 1px dashed #000;
    position: absolute;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    bottom: 18px;
} 

/*
 * Index Titles
 * */

div.title-index .header {
    width: 100%;
    border-bottom: 1px dashed #000;
    padding-bottom: 5px;
    margin-bottom: 25px;
    overflow: hidden;
}

div.title-index .header p {
    margin: 4px 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

div.title-index .header p.title {
    color: #000;
    font-size: 30px;
    font-family: "AkzidenzGrotesk";
    font-weight: 400;
}

div.title-index .header p.sub-title {   
    color: #000;
    font-size: 19px;
    font-family: "AkzidenzGrotesk-Light";
    font-weight: 400;    
}

div.title-index .header p.sub-title span {   
    float: left;
}

div.title-index .header p.sub-title span.year {   
    float: right;
    font-size: 25px;
}

div.title-index .column {
    width: 32%;
    float: left;
    padding-right: 1%;
}

div.sales-producers .column {
    width: 49%;
}

div.title-index .column p.letter {
    font-family: "FranklinGothicRoman";
    font-size: 229px;
    color: #000;
    margin: 0;
    padding: 15px 0 5px 0;
}

div.sales-producers .column p.letter {
    padding: 33px 0 15px 0;
}

div.title-index .column p.title-value {
    font-family: "AkzidenzGrotesk";
    font-size: 17px;
    margin: 0;
    padding: 0 0 5px 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.title-index .column p.contact-value {
    font-family: "AkzidenzGrotesk-Light";
    font-weight: 400;    
    font-size: 15px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.sales-producers .column p.title-value {
    padding-bottom: 0;
    margin-top: 5px;
}
