@font-face {
	font-family: "AkzidenzGrotesk";
	src: url("/static/fonts/AkzidenzGrotesk-Regular.otf");
}

@font-face {
	font-family: "AkzidenzGrotesk-Light";
	src: url("/static/fonts/AkzidenzGrotesk-Light.otf");
}

@font-face {
	font-family: "AkzidenzGrotesk-Medium";
	src: url("/static/fonts/AkzidenzGrotesk-Medium.otf");
}

@font-face {
	font-family: "FranklinGothicRoman";
	src: url("/static/fonts/FranklinGothicRoman.ttf");
}

html {

}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
}

h2 {
    margin: 12px 0 4px 0;
}

p {
    margin: 2px 0;
}

body {
	font-family: "AkzidenzGrotesk",helvetica, arial, sans-serif;
/*    font-size: 50%;*/
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

#main-container {
    width: [% site.page_width %];
    margin: 0 auto;
}

/*
 * Section colors
 * */
.fiction-color, .fiction-color a, .fiction .category-title,
div.page.section p.fiction-color.selected a,
div.page.section h2.fiction-color.selected a {
	color: #ffb369;
}

#fiction div.page p.extra-info span {
    background-color: #ffb369;
    color: #fff;
}

.documentary-color, .documentary-color a, .documentary .category-title,
div.page.section p.documentary-color.selected a,
div.page.section h2.documentary-color.selected a {
	color: #8EC051;
}
#documentary div.page p.extra-info span {
    background-color: #8ec051;
    color: #fff;
}

.animation-color, .animation-color a, .animation .category-title,
div.page.section p.animation-color.selected a,
div.page.section h2.animation-color.selected a {
	color: #E51652;
}
#animation div.page p.extra-info span {
    background-color: #E51652;
    color: #fff;
}

.formats-color, .formats-color a, .formats .category-title,
div.page.section p.formats-color.selected a,
div.page.section h2.formats-color.selected a {
	color: #C54693;
}
#formats div.page p.extra-info span {
    background-color: #C54693;
    color: #fff;
}

.videogames-color, .videogames-color a, .videogames .category-title {
	color: #6d207c;
}

div.category .upcoming div.category-entry-info div.main-menu p a,
div.category .upcoming p,
div.category .upcoming a,
div.category .upcoming p.title a {
    color: #fff !important;
}

div.page.upcoming div.category-entry-info p a.selected,
div.page.upcoming div.category-entry-info div.main-menu p.selected,
div.page.upcoming div.category-entry-info div.main-menu p.selected a {
    background-color: #fff !important;
    color: #4d4d4d !important;
}

/*
 * Page style
 * */
div.page {
    width: [% site.page_width %];
    height: [% site.page_height %];
    page-break-after: always;
    margin: 0;
    background-color: #fff;
}

div.category-entry {
    position: relative;
}

div.sales-producers {
    background-color: #fff;
}

/*div.category-entry img {*/
/*    width: 101.2%;*/
/*}*/

div.category-entry-info {
    position: absolute;
    top: 0;
    left: 0;
}

div.category-entry-info div.main-menu p {
    font-size: 20px;
    letter-spacing: 0;
    font-family: "AkzidenzGrotesk-Medium";
    font-weight: 400;
    display: inline-block;
    padding: 35px 0 15px;
    margin-top: 0;
}

    div.category-entry-info div.main-menu p.selected {
        font-size: 34px;
        letter-spacing: -0.01in;
    }

    div.category-entry-info div.main-menu p a {
        color: #4d4d4d;
        font-family: "AkzidenzGrotesk-Medium";
    }

    div.category-entry-info div.main-menu p.selected a {
        color: #fff;
    }

div.category-entry-info p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 14px;
}

div.category-entry-info p.sub-menu a {
    font-weight: 400;
    font-family: "AkzidenzGrotesk-Light";
}

div.category-entry-info p a {
    font-family: "AkzidenzGrotesk";
    color: #4d4d4d;
    padding: 7px 20px;
}

div.category-entry-info p a.selected {
    color: #fff;
}

/* Specific color sections */

/* Fiction */
#fiction div.category-entry-info p a.selected,
#fiction div.category-entry-info div.main-menu p.selected {
    background-color: #ffb369;
    color: #fff;
}

/* Documentary */
#documentary div.category-entry-info p a.selected,
#documentary div.category-entry-info div.main-menu p.selected {
    background-color: #8EC051;
    color: #fff;
}

/* Animation */
#animation div.category-entry-info p a.selected,
#animation div.category-entry-info div.main-menu p.selected {
    background-color: #E51652;
    color: #fff;
}

/* Formats */
#formats div.category-entry-info p a.selected,
#formats div.category-entry-info div.main-menu p.selected {
    background-color: #C54693;
    color: #fff;
}

div.page a.link-production {
    float: right;
    clear: right;
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    margin-top: 6px;
}

div.page .properties {
    position: absolute;
    top: 130px;
    right: 0;
}

    div.page .properties span.catalanspoke-label,
    div.page .properties span.upcoming-label {
        font-size: 28px;
        padding: 5px 5px 3px 5px;
        font-family: "FranklinGothicRoman";
    }

    div.page .properties span.catalanspoke-label {
        background-color: #fff;
        color: #000;
    }

    div.page .properties span.upcoming-label {
        background-color: #000;
        color: #fff;
    }

div.page .container-details {
    min-height: 590px;
    width: 100%;
    position: absolute;
    top: 0;
}

div.inner-content {
	width: 96%;
	margin: 0 auto;
	padding: 0;
    position: relative;
    height: 800px;
}

    div.inner-content div.container-content {
        position: absolute;
        top: 180px;
        width: 100%;
    }

div.category p {
	color: #4D4D4D;
}

/*
 * Introduction
 * */
div.introduction {
    text-align: center;
    background: url('/static/images_2016/bg-intro.jpg') no-repeat 0 0;
}

	div.introduction p.categories {
		font-size: 30px;
	}

	div.introduction .credits {
		font-size: 16px;
		margin-top: 60px;
		font-weight: bold;
	}

		div.introduction .credits span {
			color: #b2270a;
		}

/*
 * Credits
 * */
div.credits {
    position: relative;
    background: url('/static/images_2016/bg-credits.jpg') no-repeat center right;
}

    div.credits .inner {
        margin: 0 auto;
    }

    div.credits .inner a,
    div.credits .inner p {
	    display: inline-block;
        color: #fff;
    }

    div.credits .inner p.credits-address {
        position: absolute;
        bottom: 165px;
        left: 90px;
    }

    div.credits .inner p.credits-address span {
        font-weight: 700;
    }

    div.credits .logos {
        position: absolute;
        bottom: 20px;
        left: 60px;
    }

    div.credits .logos a.catalanfilms {
        margin-right: 90px;
    }

/*
 * Index
 * */
div.index {
    text-align: center;
    background: url('/static/images_2016/bg-index.jpg') no-repeat 0 0;
}

    div.index .left {
        width: 470px;
        float: left;
        text-align: center;
        margin-bottom: 20px;
    }

        div.index .left img {
            margin-top: 276px;
        }

        div.index .left p {
            font-size: 16px;
            margin-left: -40px;
            font-weight: 300;
        }

    div.index .right {
        width: 600px;
        text-align: left;
        float: right;
        padding-left: 35px;
        margin-bottom: 30px;
        margin-top: 70px;
        height: 400px;
        position: relative;
    }

    div.index .right.main {
        height: 600px;
    }

		div.index .right h2 {
            font-family: "AkzidenzGrotesk-Medium";
			font-size: 56px;
            letter-spacing: -0.01in;
            font-weight: 400;
		    margin-top: 1px;
            margin-bottom: 1px;
            padding: 0;
            line-height: 46px;
        }

            div.index .right h2 a {
                display: inline-block;
            }

		div.index .right p {
			font-size: 18px;
            font-weight: 300;
            line-height: 24px;
        }

        div.index .right p a {
            color: #333;
        }

        div.index .right p.catalan-production-text {
            color: #666;
            font-size: 16px;
            padding-left: 40px;
            position: absolute;
            bottom: 0;
            margin-left: 4px;
            background: url('/static/images_2016/catalan-mini-logo.png') no-repeat 0 0;
            font-family: "AkzidenzGrotesk-Light";
            font-weight: 400;
        }

    div.index .bottom {
        margin: 0 auto;
        width: 96%;
        clear: both;
        padding-top: 5px;
        color: #666;
    }

		div.index .bottom p {
			font-size: 16px;
            line-height: 19px;
            font-family: "AkzidenzGrotesk-Light";
            font-weight: 400;
		}

    div.index.section p {
        font-family: "AkzidenzGrotesk-Medium";
        font-size: 56px;
        letter-spacing: -0.01in;
        font-weight: 400;
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 0;
        line-height: 46px;
    }

    div.index.section p a {
        display: inline-block;
        color: #fff;
        line-height: 20px;
    }

        div.index.section p.selected a {
            text-decoration: none;
            color: #000;
        }

    div.index.fiction {
        background: url('/static/images_2016/fiction.jpg') no-repeat 0 0;
    }
    div.index.fiction .right {
        width: 510px;
    }

    div.index.documentary {
        background: url('/static/images_2016/documentary.jpg') no-repeat 0 0;
    }
    div.index.documentary .right {
        float: left;
        margin-top: 350px;
    }

    div.index.animation {
        background: url('/static/images_2016/animation.jpg') no-repeat 0 0;
    }
    div.index.animation .right {
        margin-top: 350px;
    }

    div.index.formats {
        background: url('/static/images_2016/formats.jpg') no-repeat 0 0;
    }
    div.index.formats .right {
        margin-top: 50px;
        float: left;
        padding-left: 75px;
    }

    div.index.salesproduction {
        background: url('/static/images_2016/salesproduction.jpg') no-repeat 0 0;
    }
    div.index.salesproduction .right {
        margin-top: 190px;
        width: 550px;
    }

    div.index.eventsinstitutions {
        background: url('/static/images_2016/eventsinstitutions.jpg') no-repeat 0 0;
    }
    div.index.eventsinstitutions .right {
        margin-top: 350px;
        padding-left: 110px;
        float: left;
    }

    div.index.titleindex {
        background: url('/static/images_2016/titles.jpg') no-repeat 0 0;
    }
    div.index.titleindex .right {
        margin-top: 110px;
    }

/*
 * Upcomings by Section
 * */

#fiction div.upcoming {
    background-color: #ffb369;
}

#documentary div.upcoming {
    background-color: #8ec051;
}

#animation div.upcoming {
    background-color: #E51652;
}

#formats div.upcoming {
    background-color: #C54693;
}

#videogames div.upcoming {
    background: url('/static/images/bg-videogames.jpg') repeat-y 0 0;
}

/*
 * Page
 * */

div.page p.category-title {
	font-size: 28px;
    margin-bottom: 0;
    padding-bottom: 0;
}

div.page p.subcategory {
	border-bottom: 1px dashed #000;
    padding-top: 0;
    margin-top: 0;
	padding-bottom: 4px;
	margin-bottom: 8px;
    width: 100%;
    overflow: hidden;
}

    div.page p.subcategory span.format {
        font-size: 18px;
        float: left;
        margin-top: 6px;
	font-weight: 300;
    }

    div.page p.subcategory span {
        float: right;
    }

    div.page p.subcategory span.upcoming-label,
    div.page p.subcategory span.sep {
        font-size: 25px;
    }

    div.page p.subcategory span.sep {
        margin-left: 5px;
        margin-right: 5px;
    }

    div.page p.subcategory span.catalanspoke-label {
        font-size: 33px;
        font-family: "FranklinGothicRoman";
    }

div.page div.info-container {
    width: 53%;
    float: right;
    margin-left: 0;
    min-height: 358px;
}

div.page p.title,
div.page p.unique {
	font-size: 31px;
    font-weight: 700;
    margin-bottom: 0;
	margin-top: 0;
}

div.page p.title a {
    color: #4D4D4D;
}

div.page p.title-original {
	font-size: 31px;
    font-weight: 300;
    font-family: "AkzidenzGrotesk-Light";
    margin-top: 0;
}

div.page p.director {
	font-size: 20px;
    font-weight: 300;
    font-family: "AkzidenzGrotesk-Light";
    margin-bottom: 0;
    margin-top: 4px;
    margin-bottom: 7px;
    line-height: 23px;
}

div.category img {
	margin-top: 0;
	float: left;
}

div.page p.details {
    float: left;
    width: 100%;
    display: inline-block;
}

div.page p.details span.name,
div.page p.details span.value {
    float: left;
	font-size: 20px;
    line-height: 23px;
    font-weight: 300;
    font-family: "AkzidenzGrotesk-Light";
}

div.page p.details span.sales-agent,
div.page p.details span.name {
    float: left;
    display: inline-block;
    font-weight: 400;
    font-family: "AkzidenzGrotesk-Medium";
}

div.page p.details span.value {
    float: left;
    clear: left;
}

div.page p.sinopsis {
	font-size: 16px;
    font-weight: 300;
    font-family: "AkzidenzGrotesk-Light";
    line-height: 19px;
    width: 560px;
    float: left;
    clear: left;
    margin-top: 10px;
}

div.page p.extra-info {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 8px;
    position: absolute;
    right: 0;
    width: 53%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    bottom: 0;
    line-height: 46px;
}

    div.page p.extra-info span {
        padding: 3px 8px;
        white-space: nowrap;
    }

    div.page.upcoming p.extra-info span {
        color: #4d4d4d !important;
        background-color: #fff !important;
    }

/*
 * Index Titles
 * */

div.title-index .header {
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 25px;
    overflow: hidden;
}

div.title-index .header p {
    margin: 4px 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

div.title-index .header p.title {
    color: #000;
    font-size: 30px;
    font-weight: 400;
}

div.title-index .header p.sub-title {
    color: #000;
    font-size: 19px;
    font-weight: 300;
}

div.title-index .header p.sub-title span {
    float: left;
}

div.title-index .header p.sub-title span.year {
    float: right;
    font-size: 25px;
}

div.title-index .column {
    width: 32%;
    float: left;
    padding-right: 1%;
}

div.sales-producers .inner-content {
    width: 85%;
    margin: 0 auto;
}

div.sales-producers .header {
    margin: 0 auto;
    width: 100%;
}

    div.sales-producers .header .main-menu p {
        display: inline-block;
        width: inherit;
        margin: auto 5px;
        font-weight: 700;
        font-size: 18px;
        padding: 35px 10px 18px;
    }

        div.sales-producers .header .main-menu p a {
            color: #000;
        }

        div.sales-producers .header .main-menu p.selected {
            background-color: #000;
        }

            div.sales-producers .header .main-menu p.selected a {
                color: #fff;
            }

div.sales-producers div.letter-index {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
}

    div.sales-producers div.letter-index a {
        color: #000;
    }

    div.sales-producers div.letter-index a.selected {
        color: #fff;
        background-color: #000;
        padding: 4px;
    }

div.sales-producers .column {
    width: 31%;
    padding-right: 0;
    padding-left: 15px;
}

div.title-index .column p.letter {
    font-size: 265px;
    color: #fff;
    margin: 0;
    padding: 25px 0 65px;
    line-height: 172px;
    font-weight: 600;
    letter-spacing: 14px;
}

div.sales-producers .column p.letter {
    font-weight: 600;
    padding: 54px 0 25px 0;
    letter-spacing: 14px;
}

div.title-index .column p.title-value {
    font-size: 15px;
    margin: 0;
    padding: 0 0 5px 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.title-index .column p.title-value a {
    color: #fff;
}

div.title-index .column p.contact-value {
    font-weight: 300;
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
}

div.sales-producers .column p.contact-value a {
    color: #fff;
}

div.sales-producers .column p.title-value {
    padding-bottom: 0;
    margin-top: 13px;
    font-size: 16px;
    color: #E31913;
}

    div.sales-producers .column p.title-value span.special {
        font-size: 14px;
        color: #fff;
    }

    div.sales-producers .column p.title-value a {
        color: #E31913;
    }
