
html {
    
}

body {
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

div.page {
    width: [% site.page_width %];
    height: [% site.page_height %];
    page-break-after: always;
}
